/*input[type=checkbox] {
opacity: 1;
}*/
input[type=radio] {

    cursor: pointer;
    display: inline-block;
    font-family: fontAwesome;
    font-size: 12px;
    content: "";
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    text-align: center;
    width: 17px;
    height: 17px;
    line-height: 15px;
    vertical-align: middle;
}
.label-radio.inline {
    padding-top: 5px;
	margin-right: 5px;
}
.selected{
	background-color: #00c0ef;
}
.inline {
    display: inline!important;
}

#valid-msg{
    color: #00C900;
}

#error-msg {
    color: red;
}
#valid-msg1{
    color: #00C900;
}

#error-msg1 {
    color: red;
}
.intl-tel-input{
	width: 100%;
}
.intl-tel-input .country-list .flag-box, .intl-tel-input .country-list .country-name {
      color: black; }