/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}
body, html{
    height: 100%;
	width:100%;
	 margin:0;
 	background-repeat: no-repeat;
	background:url('/images/background.jpg');
 	/*background-color: #e9fce9;8
	font-family: 'Oxygen', sans-serif;
	background-size: cover;
}

.main{
 	margin:50px 15px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}



input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;

}

.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
	position:relative;
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 450px;
    padding: 10px 40px;
	background:#008000;
	color: #FFF;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #008000;
    font-size: 17px;
}

.login-button{
	margin-top: 10px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
.container {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;

}
form {
margin:auto;
}
body {
  display:flex;
}
.wrapper
{
	padding-bottom: 0px;
	margin-bottom:10px;
}

.divider
{
	position: relative;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(255,255,255), transparent);
}

.title {
    color: white;
    text-shadow: 1px 1px 1px #000000;
}
.verify{ 
    padding: auto!important;
    box-shadow: 5px 10px 20px green inset;
   }
.verify:hover {
    background-color: #4CAF50; /* Green */
    color: white;
	/*padding: 10px 30px;*/
}
.form-control {
    margin-top: auto !important;
    margin-bottom: auto !important;
    line-height: 25px;
}
input input[type=text], .intl-tel-input input[type=tel] {
    margin-top: auto !important;
    margin-bottom: auto !important;
    line-height: 25px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    /* color: white; */
    text-shadow: 1px 1px 1px #000000;
    text-align: center;
}
.select2-results span[onlyslave="True"] { 
  color: black;
}